
__pycache__/__init__.cpython-37.pyc
__pycache__/creators.cpython-37.pyc
__pycache__/descriptions.cpython-37.pyc
__pycache__/operators.cpython-37.pyc
__pycache__/properties.cpython-37.pyc
__pycache__/simulate.cpython-37.pyc
__pycache__/ui.cpython-37.pyc
__pycache__/utils.cpython-37.pyc

core.cython*.so
c_sources/build/temp.macosx-10.13-x86_64-3.7/core.o
c_sources/core.c
c_sources/core.html
core.cpython-37m-darwin.so
*.so
c_sources/.DS_Store
