schema_version = "1.0.0"
id = "molecularplus"
version = "1.21.8"
name = "Molecular Plus"
tagline = "Extension for molecular simulations in Blender"
maintainer = "Gregor Quade (u3dreal)"
type = "add-on"

blender_version_min = "4.2.0"

# License conforming to https://spdx.org/licenses/ (use "SPDX: prefix)
license = [
  "SPDX:GPL-3.0-or-later",
]

# Optional: list of supported platforms
platforms = ["windows-x64", "macos-arm64", "linux-x64"]

# Optional: bundle 3rd party Python modules
#
# molecular-plus_1.20.2_311_macos_arm64.zip
#
wheels = [
  "./wheels/molecular_core-1.21.8-cp311-cp311-macosx_15_0_arm64.whl",
  "./wheels/molecular_core-1.21.8-cp311-cp311-linux_x86_64.whl",
  "./wheels/molecular_core-1.21.8-cp311-cp311-win_amd64.whl",
  "./wheels/molecular_core-1.21.8-cp311-cp311-macosx_15_0_universal2.whl",
]

# Optional: add-ons can list which resources they will require
#[permissions]
#network = "Need to sync motion-capture data to server"
#files = "Import/export FBX from/to disk"
#clipboard = "Copy and paste bone transforms"

# Optional: advanced build settings
[build]
paths_exclude_pattern = [
  "__pycache__/",
  "/.git/",
  "/*.zip",
]
