name: Molecular plus

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_windows:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload windows zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_310_win.zip
          path: ./molecular-plus_${{ env.VERSION }}_310_win.zip

  build_windows41:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload windows zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_311_win.zip
          path: ./molecular-plus_${{ env.VERSION }}_311_win.zip

  build_linux:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload linux zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_310_linux.zip
          path: ./molecular-plus_${{ env.VERSION }}_310_linux.zip

  build_linux41:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload linux zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_311_linux.zip
          path: ./molecular-plus_${{ env.VERSION }}_311_linux.zip

  build_macos:

    runs-on: macos-13
    outputs:
      version: ${{ steps.build.outputs.version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload mac zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_310_macos.zip
          path: ./molecular-plus_${{ env.VERSION }}_310_macos.zip

  build_macos41:

    runs-on: macos-13
    outputs:
      version: ${{ steps.build.outputs.version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest cython
      - name: Lint with flake8
        run: |
          flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Build with Cython
        id: build
        run: |
          version=$(python pack_molecular.py)
          echo "VERSION=${version}" >> $GITHUB_ENV
      - name: Upload mac zip
        uses: actions/upload-artifact@v3
        with:
          name: molecular-plus_${{ env.VERSION }}_311_macos.zip
          path: ./molecular-plus_${{ env.VERSION }}_311_macos.zip
